<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Yugioh_AtemReturns.Duelists.ComputerSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Yugioh_AtemReturns.Duelists.Computer" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Yugioh_AtemReturns.GlobalSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <applicationSettings>
        <Yugioh_AtemReturns.Duelists.ComputerSetting>
            <setting name="MainDeck" serializeAs="String">
                <value>265, 105</value>
            </setting>
            <setting name="GraveYard" serializeAs="String">
                <value>265, 197</value>
            </setting>
            <setting name="MonsterField" serializeAs="String">
                <value>640, 190</value>
            </setting>
            <setting name="SpellField" serializeAs="String">
                <value>640, 90</value>
            </setting>
            <setting name="HandDistance" serializeAs="String">
                <value>12, 0</value>
            </setting>
            <setting name="Hand" serializeAs="String">
                <value>765, 30</value>
            </setting>
            <setting name="FieldSlot" serializeAs="String">
                <value>78, 100</value>
            </setting>
        </Yugioh_AtemReturns.Duelists.ComputerSetting>
        <Yugioh_AtemReturns.Duelists.Computer>
            <setting name="MainDeck" serializeAs="String">
                <value>265, 105</value>
            </setting>
            <setting name="GraveYard" serializeAs="String">
                <value>265, 197</value>
            </setting>
            <setting name="MonsterField" serializeAs="String">
                <value>640, 290</value>
            </setting>
            <setting name="SpellField" serializeAs="String">
                <value>640, 90</value>
            </setting>
            <setting name="HandDistance" serializeAs="String">
                <value>12, 0</value>
            </setting>
            <setting name="Hand" serializeAs="String">
                <value>765, 75</value>
            </setting>
            <setting name="FieldSlot" serializeAs="String">
                <value>78, 100</value>
            </setting>
        </Yugioh_AtemReturns.Duelists.Computer>
        <Yugioh_AtemReturns.GlobalSetting>
            <setting name="PlayerMain" serializeAs="String">
                <value>740, 425</value>
            </setting>
            <setting name="PlayerGrave" serializeAs="String">
                <value>735, 330</value>
            </setting>
            <setting name="PlayerMonF" serializeAs="String">
                <value>330, 310</value>
            </setting>
            <setting name="PlayerSpellF" serializeAs="String">
                <value>330, 410</value>
            </setting>
            <setting name="HandDistance" serializeAs="String">
                <value>12, 0</value>
            </setting>
            <setting name="CenterField" serializeAs="String">
                <value>535, 300</value>
            </setting>
            <setting name="PlayerHand" serializeAs="String">
                <value>290, 555</value>
            </setting>
            <setting name="FieldSlot" serializeAs="String">
                <value>78, 100</value>
            </setting>
            <setting name="Phase" serializeAs="String">
                <value>220, 66</value>
            </setting>
            <setting name="PhaseSpace" serializeAs="String">
                <value>0, 80</value>
            </setting>
        </Yugioh_AtemReturns.GlobalSetting>
    </applicationSettings>
</configuration>