<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Yugioh_AtemReturns.GlobalSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Yugioh_AtemReturns.GlobalSetting>
            <setting name="PlayerMain" serializeAs="String">
                <value>510, 425</value>
            </setting>
            <setting name="PlayerGrave" serializeAs="String">
                <value>505, 330</value>
            </setting>
            <setting name="PlayerMonF" serializeAs="String">
                <value>100, 310</value>
            </setting>
            <setting name="PlayerSpellF" serializeAs="String">
                <value>100, 410</value>
            </setting>
            <setting name="HandDistance" serializeAs="String">
                <value>12, 0</value>
            </setting>
            <setting name="CenterField" serializeAs="String">
                <value>295, 300</value>
            </setting>
            <setting name="PlayerHand" serializeAs="String">
                <value>60, 540</value>
            </setting>
        </Yugioh_AtemReturns.GlobalSetting>
    </applicationSettings>
</configuration>